<div class="container-fluid">

  <div class="row mt-8">
    <div class="col-md-4">
      <app-dashboard-counter titulo="times" [valor]="quantidadeTimes" icone="fas fa-shield">
      </app-dashboard-counter>
    </div>  
    <div class="col-md-4">
      <app-dashboard-counter titulo="lojas" [valor]="quantidadeLojas" icone="fas fa-cart-shopping">
      </app-dashboard-counter>
    </div>  
    <div class="col-md-4">
      <app-dashboard-counter titulo="camisas" [valor]=30 icone="fas fa-shirt">
      </app-dashboard-counter>
    </div>  
  </div>

  <div class="row mt-8">
    <div class="col-md-6">
      <app-tabela-dinamica [registros]="times" [colunas]="camposTimes" tituloLista="Times" [flutuante]="true"
        (edicaoClicked)="editarTime($event)" 
        (remocaoClicked)="removerTime($event)" 
        (adicicaoClicked)="adicionarTime()">
      </app-tabela-dinamica>
    </div>        

    <div class="col-md-6">
      <app-tabela-dinamica [registros]="lojas" [colunas]="camposLojas" tituloLista="Lojas" [flutuante]="true"
      (edicaoClicked)="editarLoja($event)" 
      (remocaoClicked)="removerLoja($event)" 
      (adicicaoClicked)="adicionarLoja()">
      </app-tabela-dinamica>
    </div>        
  </div>

</div>